@(message: String)

@main(message) {

    <div>

    <div class = "col-lg-3"></div>
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <div>
                    <h3>Doctor 1</h3>
                    </div>
                    <p>This is doctor 1</p>
                    <p style="text-align: center">
                        <a href="#" class="btn btn-primary" role="button">Ask to chat</a>
                        <a href="@routes.Profile.profile("doc")" class="btn btn-info" role="button" style = "margin-left: 2em">Profile</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
        <div class = "col-lg-3"></div>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="caption">
                        <div>
                        <h3>Doctor 2</h3>
                        </div>
                        <p>This is doctor 2</p>
                        <p style="text-align: center">
                            <a href="#" class="btn btn-primary" role="button">Ask to chat</a>
                            <a href="#" class="btn btn-info" role="button" style = "margin-left: 2em">Profile</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class = "col-lg-3"></div>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Doctor 3</h3>
                        <p>This is doctor 3</p>
                        <p style="text-align: center">
                            <a href="#" class="btn btn-primary" role="button">Ask to chat</a>
                            <a href="#" class="btn btn-info" role="button" style = "margin-left: 2em">Profile</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class = "col-lg-3"></div>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Doctor 4</h3>
                        <p>This is doctor 4</p>
                        <p style="text-align: center">
                            <a href="#" class="btn btn-primary" role="button">Ask to chat</a>
                            <a href="#" class="btn btn-info" role="button" style = "margin-left: 2em">Profile</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
}
